.Text-Box{
    margin-top: 130px;
    max-width: 600px;
    margin-bottom: 10%;
}

.Text-Box h2{
    font-size: 45px;
    margin-bottom: 20px;
    color: #3f51b5;
}

.Text-Box p{
    color: black;
    font-size: 15px;
    line-height: 2.45rem;
}

.Text-Box .x{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #3f51b5;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
}

.user-box{
    position: absolute;
    top: 0;
    right: 12%;
    z-index: 1;
}

.user-box img{
    display: block;
    padding: 100px;
    width: 510px;
    margin-bottom: -40px;
}



/*  */

/* Add this to your existing Header.css file */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 60px 0;
    overflow: hidden;
  }
  
  .text-box {
    max-width: 600px;
    padding: 20px;
    text-align: center;
  }
  
  .text-box h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #3f51b5;
    line-height: 1.2;
  }
  
  .text-box p {
    color: black;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  